* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #6b8ba8;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}